<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unisoft.biblefacts" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/bible2"
        android:label="@string/app_name"
        android:theme="@style/BibleFactsTheme" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageAdapter"
            android:label="@string/title_activity_image_adapter" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unisoft.biblefacts.ViewFacts" />
        </activity>
        <activity
            android:name=".ViewFacts"
            android:label="@string/title_activity_view_facts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unisoft.biblefacts.MainMenu" />
        </activity>
        <activity
            android:name=".LearnMore"
            android:screenOrientation="landscape">
            android:label="@string/title_activity_learn_more" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unisoft.biblefacts.MainMenu" />
        </activity>
        <activity
            android:name=".ParablesOfJesus"
            android:screenOrientation="landscape">
            android:label="@string/title_activity_parables_of_jesus" >
        </activity>
        <activity
            android:name=".MiraclesOfJesus"
            android:screenOrientation="landscape">
        android:label="@string/title_activity_miracles_of_jesus" >
        </activity>
        <activity
            android:name="com.unisoft.biblefacts.SingleViewActivity"
            android:label="@string/title_activity_single_view" >
        </activity>
    </application>

</manifest>
